


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  font-family: 'Roboto', sans-serif;
}


.App{
  background: url('./assets/cold-bg.jpg');
  background-size: cover;
  background-position: bottom; 
  transition: 0.4 ease-out;
}

.App.warm {
  background-image: url('./assets/warm-bg.jpg');
}


.App.snow{
  background-image: url('./assets/snow-bg.jpg');
}


.App.cloud{
  background-image: url('./assets/cloud-bg.jpg');
}

.App.rain{
  background-image: url('./assets/rain-bg.jpg');
}

.App.thunder{
  background-image: url('./assets/thunder-bg.jpg');
}

.App.mist{
  background-image: url('./assets/mist-bg.jpg');
}

.App.cold{
  background-image: url('./assets/cold-bg.jpg');
}



main{
  min-height: 100vh;
  background-image: linear-gradient(to bottom , rgba(0,0,0,0.2) , rgba(0,0,0,0.75));
  padding: 25px;
}

.brand {
  text-align: center;
  font-size: large;
  color: #000000;
  text-shadow: 0px 0px 15px rgb(251, 251, 251);
  font-family: 'Raleway', sans-serif;
  border-bottom: 2px solid #fff;

}



.search-box{
  align-items: center;
  width: 100%;
  margin: 0 0 75px;
  color: brown !important;
  
}



.search-box .search-bar{
  display: block;
  width: 100%;
  padding: 18px;
  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba( 255, 255, 255, 0.8) ;
  border-radius: 16px 16px 16px 16px;
  margin-top: 35px;
  box-shadow: -2px 3px 10px rgb(32, 32, 32) ;

  color: black;
  font-size: 10px;

  transition: 0.2s ease-in !important;
}

.search-box .search-bar :focus{
  background-color: rgba( 255, 255, 0, 0.1) !important;
}

.location-box .location {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
  text-shadow: 3px 3px rgba( 50, 50, 70, 0.5);
}

.location-box .date{
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 100;
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
  text-shadow: 2px 2px rgba( 50, 50, 70, 0.5);
}

.weather-box{
  text-align: center;
}

.weather-box .temp{
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba( 255, 255, 255, 1);
  border-radius: 16px;
  padding: 7px 25px 0px 25px !important;
  color: rgb(0, 0, 0);
  font-size: 72px;
  font-weight: 600;
  font-family: 'Abril Fatface', cursive;
  text-shadow: -3px 5px 5px rgb(77, 77, 128);
  text-align: center;
  box-shadow: -4px 6px 10px rgb(50, 43, 73);
  border-bottom: 3px solid rgb(0, 0, 0);
}

.weather-box .temp p {
  position: relative;
  display: inline-block;
  color: rgb(0, 0, 0);
  text-shadow: -4px 3px 5px rgb(198, 198, 241);
  text-align: center;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  padding: -10px;
}


.weather-box .weather {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  text-shadow: -3px 3px 6px rgba(197, 197, 230, 0.5);
}

.desc {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: capitalize;
  border-bottom: 3px solid whitesmoke;
  margin-bottom: 30px !important;
}


.temperature{
  position: relative;
  display: inline-flexbox;
  margin: 30px auto;
  background-color: rgba( 255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 15px 25px;
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
  text-shadow: 0px 2px 10px rgba(195, 195, 248, 0.5);
  text-align: center;
  box-shadow: -13px 6px 9px rgba(48, 43, 43, 0.8);
  border-bottom: 3px solid rgb(0, 0, 0);
}

.temperature  p {
  background-color: #000000;
  box-shadow: -4px 4px 9px rgb(82, 77, 77);
  border-radius: 50px;
  padding: 2px auto !important;
  margin: 15px 20px;
}




footer {
  
  width: 100%;
  background-color: #000000;
  color: white;
  text-align: center;
  font-size: 10px;
  height: 30px !important;
  font-family: 'Raleway', sans-serif;
  padding-top: 6px;
  
}


footer a {
  color: #fff !important;
  font-size: 10px !important;
}

footer a :hover{
  color: crimson;
  font-size: small;
  padding: 2px;
  
}






/* import */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Rye&display=swap');